@using Classes;

@model IEnumerable<Cad_End_Cidade>

@{
    ViewData["Title"] = "Listagem";
}

<h1>Cidades cadastrados</h1>

<p>
    <a class="btn btn-info" asp-action="Create"><i class="fas fa-plus"></i>Adicionar novo</a>
</p>
<form asp-controller="Cidade" asp-action="Index" method="get">
    <p>
        Pesquisa por cidade: <input type="text" name="PesquisaCidade" />
        <input type="submit" value="Filtrar" />
    </p>
</form>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado.Sigla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInclusao)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)         
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado.Sigla)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInclusao)
                </td>
            
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>